<style>

  .blue-text {
    color: blue;
  }

  h1 {
	font-family: Arial;
  }
	
  h2 {
    font-family: Arial;
  }

  p {
    font-size: 16px;
    font-family: Arial;
  }
  
  .text-center {
    alignment: center;
  }
</style>

<center><h1 class="blue-text text-center font-family">iQueue - Company</h1>
<h2 class = "text-center font-family">The app that keeps track of how many customers you have</h2>

<form action="/submit-queue-id">
  Company name: <input type="text" required placeholder="">
  <br />
  <br />
  Company type: <input type="text" required placeholder="">
  <br />
  <br />
  <button type="submit">Submit</button>
</form></center>