<header>
<title>iQueue</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'stylesheet.css'%}">
</header>

<div style="background-color:#7bceeb;">

 <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
   <tr>
     <td valign="top" align="left" background="{%static 'images\everypage.jpg'%}" style="background-repeat:no-repeat; background-size:cover;">

<br /> <br /> <br />
<center><p>There are currently:</p>

<div class="circle">{{number}}</div>

<p>people in line.</p>

<form action="/next-person">
<button type="submit"><p2>Next person</p2></button>
</form></center>
