<header>
<title>iQueue</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</header>


<div style="background-color:#7bceeb;">

 <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
   <tr>
     <td valign="top" align="left" background="images\background.png" style="background-repeat:no-repeat; background-size:cover;">
</div>

<br /> <br /> <br /> 
<center><h1 class="blue-text text-center font-family">iQueue - Company</h1>
<h2 class = "text-center font-family">The app that keeps track of how many customers you have</h2>

<form action="/submit-queue-id">
  Company name: <input type="text" required placeholder="">
  <br />
  <br />
  Company type: <input type="text" required placeholder="">
  <br />
  <br />
  <button type="submit"><p2>Submit</p2></button>
</form></center>
