<header>
<title>iQueue</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'stylesheet.css'%}">
</header>

<div style="background-color:#7bceeb;">

 <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
   <tr>
     <td valign="top" align="left" background="{%static 'images\firstpage.png'%}" style="background-repeat:no-repeat; background-size:cover;">
<br /> <br /> <br />
<center><h1 class="text-center font-family">Thanks for choosing iQueue!</h1>
<h2 class ="text-center font-family">Are you a:</h2>

<form action="/queueManager/customer-connect">
 <button type="Submit"><p2>Customer</p2></button> 
</form> 
<form action="/queueManager/company-register">
 <button type="Submit"><p2>Company</p2></button>	
</form></center>
     </td>>
 </table>
</div>>
