<style>

  .blue-text {
    color: blue;
  }

  h1 {
	font-family: Arial;
  }
	
  h2 {
    font-family: Arial;
  }

  p {
    font-size: 16px;
    font-family: Arial;
  }
  
  .text-center {
    alignment: center;
  }
</style>

<center><h1 class="blue-text text-center font-family">Thanks for choosing iQueue!</h1>
<h2 class ="blue-text text-center font-family">Are you a:</h2>

<form action="/customer">
  <button type="Customer">Customer</button>
</form>
<form action="/company">
  <button type="Company">Company</button>
</form></center>
