<style>

  .blue-text {
    color: blue;
  }
  
  .black-text {
  color: black;
  }
  
  h1 {
	font-family: Arial;
  }
	
  h2 {
    font-family: Arial;
  }

  p {
    font-size: 16px;
    font-family: Arial;
  }
  
  .text-center {
    alignment: center;
  }
  
  .circle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  font-size: 100px;
  color: black;
  line-height: 300px;
  text-align: center;
  background: green;
  } 
</style>

<center><h1 class="blue-text text-center font-family">Generate ID for the day:</h1>

<form action="/generateID">
  <button type="ID">Generate</button>
  
  




