<header>
<title>iQueue</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'stylesheet.css'%}">
</header>

<div style="background-color:#7bceeb;">

 <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
   <tr>
     <td valign="top" align="left" background="{%static 'images\everypage.jpg'%}" style="background-repeat:no-repeat; background-size:cover;">
</div>

<br /> <br /> <br /> 

<center><h1 class="blue-text text-center font-family">Generate ID for the day:</h1>

<form action="/generateID">
  <button type="ID"><p2>Generate</p2></button>
