<style>

  .blue-text {
    color: blue;
  }

  h2 {
    font-family: Arial;
  }

  p {
    font-size: 16px;
    font-family: Arial;
  }
  
  .text-center {
    alignment: center;
  }
</style>

<center><h1 class="blue-text text-center font-family">iQueue</h1>&nbsp;&nbsp;&nbsp;&nbsp;
<h2 class="text-center font-family">The app that queues for you!</h2>&nbsp;&nbsp;


<form action="/submit-queue-id">
  <input type="text" required placeholder="Queue ID">
  <button type="submit" >Submit</button>
</form></center>

