<style>

  .blue-text {
    color: blue;
  }
  
  .black-text {
  color: black;
  }
  
  h2 {
    font-family: Arial;
  }

  p {
    font-size: 16px;
    font-family: Arial;
  }
  
  .text-center {
    alignment: center;
  }
  
  .circle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  font-size: 100px;
  color: black;
  line-height: 300px;
  text-align: center;
  background: green;
  } 
</style>

<center><p class = "blue-text">Great! You are now at position:</p>

<div class="circle black-text"> {{ number }}</div>

<p class = "blue-text">You should be at the main entrance in 20 minutes.</p></center>